/* Nicholas DiCicco*/
*{box-sizing: border-box;}
header, nav, main, footer {display:block;}
body { background-color: #EAEAEA; color: #0ca8f0; font-family: Arial, Helvetica, sans-serif; }
#wrapper { background-color: #90C7E3; background-image:linear-gradient(#ec4f4f , #4f94b6); margin: auto; width: 80%; box-shadow: #000033; border-color: #000033; grid-template-columns: auto; grid-template-rows: auto;}
header { margin-right: auto; text-align: center;  background-color: #002171; color: #ffffff; text-decoration: none;}
.selector {padding-left: 2em; padding-right: 2em; }
nav { font-weight: bold; padding: 1.5em; font-size: 120%; width: 160px; text-align: left; padding-left: 1em; }
nav li {border-bottom: none; color:#000033; display: block;}
nav a {text-decoration: none;}
main {background-color: #050202;  padding-right: 20px; padding-bottom: 20px; padding-left: 30px; display:block; overflow: auto;}
h1 { background-color: #002171; font-family:Georgia, 'Times New Roman', Times, serif; margin-top: 0; letter-spacing: 0.25em; padding-bottom: 0.5em; padding-top: 0.5em;}
h2 { text-align: center; color: #1976D2; font-family: Georgia, 'Times New Roman', Times, serif; text-shadow:#CCCCCC; offset: 1px;}
h3 { margin-bottom: 0; font-family: Georgia, 'Times New Roman', Times, serif; color:#1976D2; }
main ul { list-style-type: circle;}
nav a:link { color:#5C7FA3; }
nav a:visited { color: #344873; }
nav a:hover { color: #A52A2A; } 
nav ul {margin:0; padding-left: 0; font-size: 1.2em; list-style-type: none; flex-direction:column; flex-wrap: nowrap; padding-top: 1em;}
header h1 link {color: #FFFFFF;}
 header h2 visited {color: #FFFFFF;}
 header h3 hover {color:#90C7E3;}
 table { border-collapse: collapse;}
td,th {padding: 0.5em; border: 2px solid #1bd36e;}
td { text-align: center;}
text{text-align: left;}
td,th,tr:nth-of-type(odds) {background-color: #F5FAFC}
footer { background-color: #0104af; font: size 75%; text-align: center; font-family: Georgia, 'Times New Roman', Times, serif; padding: 2em;}
.contact { font-size: 90%; }
.column {  float: left;width: 50%; }
.row:after { content: ""; display: table; clear: both;}
.info{text-align: center;}
form { display: flex; flex-flow: columnn nowrap;}
input, textarea {margin-bottom: .5em;}
@media (min-width: 1024px) {form {display: grid;
        grid-template-columns: 6em 1fr;
        grid-gap: 1em; gap: 1em;
        grid-template-rows: auto;
        width: 60%;}
input[type="submit"] { grid-column: 2 / 3; width: 9em; margin-left: 0; }}